@import url("/mobile.css") (orientation: portrait);
@import url("/desktop.css") (orientation: landscape);

.clickable-table td {
    padding: 0;
    margin: 0;
}

.clickable-table a {
    display: block;
    padding: 2px 8px;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.clickable-table tbody tr:hover {
    background-color: #e0e0e0;
}

@media (orientation: portrait) {
    #search-box {
        height: 5vh;
    }

    #searchbar {
        height: 100%;
        font-size: 4vh;
    }

    #foot {
        display: none;
    }

    #notification-count {
        margin-left: auto;
    }
}

#search-box {
    background-color: #f0f0f0;
    padding: 3px 1px;
}

#searchbar {
    width: 100%;
}

#foot {
    position: sticky;
    width: 100%;
    bottom: 0;
    margin: 0;
    border: 0;
    border-top: 1px solid var(--w7-w-bd);
    margin-top: auto;
}
