@import url("/mobile.css") (orientation: portrait);
@import url("/desktop.css") (orientation: landscape);

* {
    box-sizing: border-box;
}

.clickable-table td {
    padding: 0;
    margin: 0;
}

.clickable-table a {
    display: block;
    padding: 2px 8px;
    text-decoration: none;
    color: inherit;
}

.clickable-table tbody tr:hover {
    background-color: #e0e0e0;
}

@media (orientation: portrait) {
    #search-box {
        height: 5vh;
        margin: 1vh 2vw;
        border: 4px solid black;
    }

    #searchbar {
        height: 100%;
        font-size: 4vh;
    }

    #foot {
        display: none;
    }

    #result-container {
        overflow-x: auto;
        margin: 1vh 2vw;
        border: 2px solid black;
    }

    #notification-count {
        margin-left: auto;
    }

    .clickable-table {
        table-layout: fixed;
        width: max-content;
        min-width: 100%;
        border-collapse: collapse;
    }

    .clickable-table > tbody {
        border: 2px solid black;
    }

    .clickable-table thead {
        background-color: #cecfef;
    }

    .clickable-table thead>tr>th {
        border: 2px solid black;
    }

    .clickable-table thead>tr>th {
        font-weight: normal;
    }

    .clickable-table colgroup>col {
        width: unset !important;
    }
}

@media (orientation: landscape) {
    #mobile-results {
        display: none;
    }

    .clickable-table {
        width: 100%;
    }
}

#search-box {
    background-color: #f0f0f0;
    padding: 3px 1px;
}

#searchbar {
    width: 100%;
}

#foot {
    position: sticky;
    width: 100%;
    bottom: 0;
    margin: 0;
    border: 0;
    border-top: 1px solid var(--w7-w-bd);
    margin-top: auto;
}